{
    "source_path": "D:\\下載.wav",
    "ffmpeg_path": "D:\\Code\\ffmpeg\\ffmpeg-master-latest-win64-gpl-shared\\bin\\ffmpeg.exe",
    "anki_media_path": "C:\\Users\\admin\\AppData\\Roaming\\Anki2\\使用者 1\\collection.media",
    "audio_format": "wav",
    "playback_speed": 1.0
}